@import "../../styles/general.scss";

nav {
    
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 36%, rgba(0,0,0,0.8015581232492998) 75%, rgba(0,0,0,0.6643032212885154) 100%);
    .navContainer{
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding: 25px 0;
        .logo-container {
            img {
                height: 60px;
            }
        }
        .links-container {
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .link-item{
                list-style-type: none;
                color: $white;
                font-size: 16px;
                line-height: 20px;
                font-weight: bold;
                cursor: pointer;
            }
        }
        .connect-wallet {
            width: 210px;
            border-radius: 0 18px 0 0;
            background-color: $orange;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
            border: none;
            span {
                &::after {
                    content: url('../../assets/icons/whiteArrow.svg');
                    width: 20px;
                    margin-left: 10px;
                }
            }
        }

        .connected {
            overflow: hidden;
            padding: 10px;
            text-decoration: none;
            color: black;
            img{
                margin-right: 10px;
            }
            
        }
    }
    
}